{% extends "base.html" %}

{% block title %} Mapas interessantes {% endblock %}


<div id="home">
    <h1>{% block sobre%}Mapas interessantes{% endblock %}</h1>
  </div>

{% block content %}
    <p>
        Por já exister há algum tempo, o VRChat possui diversos mapas já feitos pelos jogadores que se tornaram populares e interessantes para toda a comunidade do jogo. Eu, particularmente, já entrei em vários desses mapas, tanto fora como dentro da realidade virtual. Confira embaixo alguns dos mapas e suas descrições.
    </p>


    <div class="mapas">
      <div class="primeiros-mapas">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#blackCatModal">

          <img src="../static/images/the_black_cat.jpg" alt="O mapa The Black Cat no vrchat" width="350px">

        </button>
        <!-- Modal -->
        <div class="modal fade" id="blackCatModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Black Cat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Um misto de bar casual e restaurante sofisticado, frequentemente usado para conhecer pessoas novas e conversar em um ambiente acolhedor. Esse mapa ficou muito popular devido a ele possuir features que somente jogadores de Quest conseguiam interagir. Isso levou a um aumento na popularidade do mapa que até hoje é muito frequentado pelos jogadores.
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div>




        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#restAndSleepModal">
        <img src="../static/images/rest_and_sleep.png" alt="O mapa Rest and Sleep" width="350px">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="restAndSleepModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Rest and Sleep</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Um mundo voltado para relaxamento, com uma atmosfera esteticamente agradável que permite aos usuários desfrutarem da companhia de amigos virtuais de maneira tranquila. Esse mapa é bem icônico devido a um fenômeno que é bem comum entre os jogadores de VR que se trata de dormir na realidade virtual. Como algumas pessoas jogam de noite, algumas acabam se cansando e dormindo com os seus óculos de RV. É claro que esse não é o único mapa que as pessoas usam para dormir. Basicamente, qualquer mapa que seja agradável e confortável pode ser usado para esse fim.
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#theGreatPug">
        <img src="../static/images/the_great_pug.jpg" alt="O mapa The Great Pug" width="350px">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="theGreatPug" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">The Great Pug</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Um pub clássico no VRChat, com bebidas, comida e muitos elementos interativos, onde você pode relaxar, conversar ou conhecer novas pessoas. Ele é basicamente o mapa The Black Cat só que ele não possui suporte para Quest o que fez a popularidade dele diminuir bastante. Esse mapa tinha três níveis. O primeiro era um bar, o segundo era um palco para show de talentos e o terceiro era um ambiente aconchegante com uma sala com lareira e camas na parte superior.
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>



      </div>

      <div class="segunda-linha-mapas">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#barDoZeModal">

          <img src="../static/images/bar_do_ze.jpg" alt="O mapa Bar do Zé" width="350px">

        </button>
        <!-- Modal -->
        <div class="modal fade" id="barDoZeModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Bar do Zé</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                A comunidade brasileira de VRChat embora não seja tão grande como a da gringa, se faz bastante presente desde o lançamento do jogo na Steam. Para ter um ponto de encontro dos brasileiros dentro do VRChat, foi criado o Bar do Zé, que atualmente está na sua terceira versão. As versões do Bar do Zé sempre possuiram características que remetem ao imaginário brasileiro desde memes a youtubers sendo retratados como avatares jogáveis dentro do jogo. O mapa possui diversos jogos como o famoso "Eu nunca...", bilhar, possui um cinema para os jogadores poderem assistir a qualquer vídeo no Youtube juntos e muito mais.
                Seu criador é RaizenJK e inclusive eu tenho ele adicionado como amigo. Embora ele não seja tão assíduo no jogo, de vez em quando eu converso com ele.
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div>




        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cruzeiroBrasilModal">
        <img src="../static/images/cruzeiro_brasil.png" alt="O mapa Cruzeiro Brasil" width="350px">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="cruzeiroBrasilModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Cruzeiro Brasil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                A comunidade brasileira dentro do jogo nunca morreu e surgiram novos criadores de mapas dentro dela. Uma das que se destacou foi Bia que criou o Cruzeiro Brasil. Trata-se de um navio de cruzeiros, que possui diversas atrações para a diversão dos jogadores. Tem montanha russa, um drop tower, carros que podem ser pilotados e diversas lojas e salas que retratam algum meme conhecido no Brasil. Também possui um campo de futebol e recentemente foi adicionado um prédio somente para VIPs.
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AmongUs">
        <img src="../static/images/among_us.jpg" alt="O mapa Among Us" width="350px">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="AmongUs" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Among Us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Existe um mapa de Among Us dentro do VRChat. É uma basicamente uma réplica do jogo em 3D dentro da realidade virtual e ele é totalmente funcional, podendo os jogadores fazer as tasks se for tripulante ou matar e sabotar a nave se for o impostor.
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>



      </div>


      <div class="terceira-linha-mapas">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AIEscapeModal">

          <img src="../static/images/AI_Escape.png" alt="O mapa AI Escaé" width="350px">

        </button>
        <!-- Modal -->
        <div class="modal fade" id="AIEscapeModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">AI Escape</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Esse mapa usa IA generativa para criar enigmas para os jogadores. Basicamente, os jogadores colocam uma entrada de algo que eles estão pensando e a Inteligência Artificial cria na hora para os jogadores um enigma com o tema do objeto que os jogadores escreveram.
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div>




        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testPilotModal">
        <img src="../static/images/test_pilot.png" alt="O mapa Test Pilot" width="350px">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="testPilotModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Test Pilot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Esse mapa possui diversos tipos de aeronaves e aviões que podem ser usados e pilotados. No começo, é bem difícil pilotar os aviões mas com o tempo e com a prática, é possível pegar o jeito de como pilotá-los. Dentre os aviões, os melhores são os caças de guerra pois são extremamente rápidos. Além disso, o mapa também conta com helicópteros e aviões de carga. Todas as aeronaves possui algum tipo de armamento podendo ser usado para combate com os outros jogadores.
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProjectAincraft">
        <img src="../static/images/project_aincraft.png" alt="O mapa Project Aincraft" width="350px">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="ProjectAincraft" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Project Aincraft</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                A proposta desse mapa é ser um RPG medieval dentro da realidade virtual. Por enquanto, ele está em demo ainda e muita coisa poderá ser adicionada no futuro. O mapa possui um esquema de save, então toda vez que você entra no mapa e sai, seu progresso não é perdido. Ele possui criaturas para poder lutar, lojas de armas e equipamentos, poções de recuperação de vida e um mapa generosamente grande.
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>



      </div>

      <div class="quarta-linha-mapas">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#YuikosRockModal">

          <img src="../static/images/yuiko's_rock.png" alt="O mapa AI Escaé" width="350px">

        </button>
        <!-- Modal -->
        <div class="modal fade" id="YuikosRockModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Yuiko's Rock</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Esse mapa é formado por 4 ilhas e existem várias tarefas que precisam ser feita para que o mapa seja completado. Além disso, ele possui 4 fases, sendo que a primeira acontece nas 4 ilhas, a segunda ocorre em um quarto em que o jogador fica no tamanho de um rato e precisa encontrar orbs para passar para a próxima fase. A terceira ocorre em um espaço onde existem vários blocos que formam um caminho até o final e a quarta fase ocorre nas 4 ilhas novamente. É um mapa muito divertido e eu lembro de ter feito um detonado desse mapa em 2021 para o meu canal no Youtube.
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div>




        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#organismModal">
        <img src="../static/images/organism.png" alt="O mapa Organism" width="350px">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="organismModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Organism</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Esse mapa é insanamente detalhado. É como se fosse uma grande exposição de arte de um cenário que lembra o leste europeu. Ele possui uma atmosfera um tanto quanto apocalíptica em um primeiro momento e leva o jogador a ter uma sensação estranha como se ele estivesse presenciando um liminal space. O mapa inteiro possui diferentes conceitos que levariam horas e horas para explicá-los. A ideia do artista foi criar um mapa que remete a quem está experimentando-o um organismo urbano vivo.
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Vr_Art_New_Place">
        <img src="../static/images/vr_art_new_place.png" alt="O mapa Project Aincraft" width="350px">
        </button>
        <!-- Modal -->
        <div class="modal fade" id="Vr_Art_New_Place" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title">VR Art 'New Place'</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Nesse mapa, você está em um museu em que existem vários quadros de arte. Cada quadro pendurado na parede pode ser acessado para que o jogador fique dentro da arte e possa inspecioná-la de uma melhor maneira. O tipo de arte feita para esse mapa é próprio para a realidade virtual por ser algo que pode ser interagido. A maioria dos artistas das obras são coreanos.
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>





{% endblock %}

{% block footer %}
<footer id="rodape-pages">
    <h4>Todos os direitos reservados</h4>
    <h4 id="home-footer"><a href="/HOME">Homepage</a></h4>
  </footer>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}