/*Index*/

body{
    background-color: #008E97;
    font-weight:300px;
    color: black;
}

.container{
    max-width: 85%;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

.my-navbar{
    padding: 0 10px;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-indices{
    display: flex;
    gap: 10px;
    list-style-type: none;
}

#title{
    text-align: center;
}


/*Rodapé*/
#rodape-pages{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 2.5rem;

}

.footer-elements{
    margin: 0 1%;
}
.cards_features{
    margin: 0 auto;
    display: flex;
    gap: 190px;
}

.card{
    color: white;
    background-color: black;
}
.card-title{
    text-align: center;
}

.card-img-top{
    width: 100px;
    margin: 0 auto;
}

#home-footer a{
    color: white;
    text-decoration: none;
}

/*Características do jogo*/
#VR_headsets{
    display: flex;
    gap: 10px;
}


/*Mapas interessantes*/
.mapas{
    margin: 0 10%;
    display: grid;
    gap: 50px;
}

.modal-content{
    border: solid white;
    background-color: black;
    color: white;
}
.primeiros-mapas{
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
}


/*Sobre mim*/
#emo-puppy-girl{
    float:right;
    width: 300px;
}

#goularte-profile-pic{
    width: 200px;
}

.sobre_mim_1_paragrafo{
    display: flex;
    gap: 10px;
}
